
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #880808;
}



<ul>
  <li><a href="index.html">Home</a></li>
  <li><a href="binairstelsel.html">Binair stelsel</a></li>
  <li><a href="kleurmodellen.html">Kleurmodellen</a></li>
</ul>


